---
title: home
layout: bare
weight: 1
---
<div class="grid">
     <div class="unit whole">
       <h1>My Design Laboratory</h1>
       <p><i>We study people as the designers of their own life.</i></p>
     </div>
</div>

<section class="home">

<div class = "grid">
<div class = "unit two-thirds">
  {% include project_summary.html project="ori-mandu" %}
</div>
<div class = "unit one-third" >
  <img src="/projects/ratchair/img/gallery.jpg"/>
  <h2>Furniture that learns to move itself by vibration</h2>
  <p>The Ratchairs have been vibrating since 2015. Watch the new video.</p>
</div>
</div>

<div class = "grid">
 <div class = "unit one-third" >
   {% include project_summary.html project="calm_automaton" %}
 </div>
<div class = "unit one-third" >
  <img src="/projects/bodymeter/img/gallery.jpg"/>

    <h2>Body Meter</h2>
</div>
<div class = "unit one-third" >
  {% include project_summary.html project="mirror" %}
</div>
</div>

<div class = "grid">
<div class = "unit two-thirds" >
{% include project_summary.html project="calm_automaton" %}
</div>
<div class = "unit one-third" >
  <h2>Latest News</h2>
  {% include last_news.html %}
  <h2><a href="/news">More news on the news page</a></h2>
</div>
</div>

</section>
