---
title: news
layout: bare
weight: 2
---

 <div class="grid">
      <div class="unit whole">
        <h1>{{page.title}}</h1>
      </div>
</div>

{% for post in site.posts %}
	<div class = "grid news" style="background-color:#ffffff">
		<div class = "unit two-thirds">
      {% if post.picture.size != undefined %}<img style=" border: 1px solid #cccccc; float: right; margin:4px; max-width:200px;" src='/news/img/{{ post.picture }}' alt="{{ post.title }}" />{% endif %}

			<h2><a href = "{{ post.url }}">{{ post.title }}</a></h2>
      <p>{{ post.excerpt | remove: '<p>' | remove: '</p>' }}
			<p class="date">posted on {{ post.date | date_to_long_string }}</p>
  	</div>
  </div>
{% endfor %}
