<!-- footer include -->
<div class="clearfix" ></div>
<footer>
  <div class = "grid">
	 <div class = "unit one-third" >
      <h2>follow my design lab</h2>
      <ul class="follow">
			<li><a href = "https://www.facebook.com/mydesignlabkaist/"><img src = "/style/img/facebook_icon.png"  alt="facebook logo"/></a></li>
			<li><a href = "https://twitter.com/myIDKAIST" ><img src = "/style/img/twitter_icon.png"  alt="twitter logo"/></a></li>
			<li><a href = "https://github.com/mid-lab-kaist"><img src = "/style/img/github_icon.png"  alt="github logo"/></a></li>
			<li><a href = "https://vimeo.com/mydesignlab" ><img src = "/style/img/vimeo_icon.png"  alt="vimeo logo" /></a></li>
    </ul>
	</div>
	<div class = "unit one-third">
  <h2><a href="/contact/">contact</a></h2>
  <p>We are based in the <a href = "http://id.kaist.ac.kr/">Department of Industrial Design</a>, <a href="http://www.kaist.ac.kr">KAIST</a>
    Address and more on the <a href="/contact/">contact page</a></p>
	</div>
	<div class = "unit one-third">
			<a href = "http://kaist.ac.kr"><img src = "/style/img/kaist_logo.png" alt="kaist logo"/></a>
	</div>
	</div> <!-- grid -->
  <div class="clearfix"></div>
</footer>
</body>
</html>
