<!doctype html>
<html>
<head>
 <meta charset = "UTF-8">
<meta name = "viewport" content = "width = device-width,initial-scale=1">
 <title>myDesignLab {{page.title}}</title>

{% include header_stylesheets %}
{% include gallery_stylesheets %}

</head>

<!--<body onLoad = "popup('../img/mirror_popup.jpg','ad')">-->
<body>

{% include header_nav %}

<br>
	<section class = "teaser" style = "max-width: 1024px; margin-left: auto; margin-right: auto;">
			  <ul class = "bxslider">
					{% for p in site.data.projects %}
						{% if forloop.index <= 5 %}
							<li style = "text-align: center;">
								<a href = '{{p.link}}'><img src = '../projects/img/{{p.picture_gallery}}' title = '{{p.title}}' alt = '{{p.title}}'/></a>
							</li>
						{% endif %}
					{% endfor %}
			  </ul>
	</section>
	<section class = "join" id = "load">
		<div name = "intro" style = "width = 100%; text-align: center;">
			<h1>"Designing for Designers since 2013"</h1>
			<div style = "max-width: 1024px; margin-left: auto; margin-right: auto;">
				<table style = "width: 100%;">
					<tr>
						<td style = "width: 33%">Understanding Novice Designers</td>
						<td style = "width: 33%">Developing New Design Tools</td>
						<td style = "width: 33%">Making Cool and Fun Things</td>
					</tr>
				</table>
			</div>
		</div>		
	</section>
	<br>


<section class = "news" style = "max-width: 1024px; margin-left: auto; margin-right: auto;">

	{% for post in paginator.posts %}
		
			<div class = "grid no-gutters {% cycle 'white', 'blue' %}">
				<div class = "unit one-quarter">
				<a href = "{{ post.url }}">
					{% if post.picture %}
						<img src = "/news/img/{{ post.picture }}">
					{% else %}
						<img src = "/news/img/default.png">
					{% endif %}
				</a>

				</div>
				<div class = "unit three-quarters alternateRows">
					<h2><a href = "{{ post.url }}">{{ post.title }}</a></h2>

					<p><b>{{ post.date | date_to_long_string }}.</b> {{ post.excerpt | remove: '<p>' | remove: '</p>' }}
				
					<br><br><a href = "{{ post.url }}"><b>Read More</b></a></p>
				</div>
			</div>	
			<div class = "clearfix"></div>
	{% endfor %}

<!--<div class="pagination">
  {% if paginator.previous_page %}
    <a href="{{ paginator.previous_page_path }}" class="previous">Previous</a>
  {% endif %}
  <span class="page_number ">Page: {{ paginator.page }} of {{ paginator.total_pages }}</span>
  {% if paginator.next_page %}
    <a href="{{ paginator.next_page_path }}" class="next">Next</a>
  {% endif %}
</div>-->

<div style = "width:100%; text-align:center;">
	<ul class = "pagination">
		{% for i in (1..paginator.total_pages) %}
			{% if i == paginator.page %}
				<li class = "active"><a href = "#load">{{ i }}</a></li>
			{% else %}
				{% if i == 1 %}
					<li><a href = "/#load">{{ i }}</a></li>
				{% else %}
					<li><a href = "/page{{ i }}#load">{{ i }}</a></li>
				{% endif %}
			{% endif %}
		{% endfor %}
	</ul>
</div>

</section>

{% include footer %}

<script type = "text/javascript">
$(document).ready(function(){
  $('.bxslider').bxSlider({
	mode: 'fade',
	captions: true,
	auto: true
  });
});
 </script>



</body>
</html>
