<!doctype html>
<html>

<head>
 <meta charset="UTF-8">
<meta name="viewport" content="width=device-width,initial-scale=1">
 <title>my DESIGN LAB {{page.title}}</title>

{% include header_stylesheets %}

</head>

<body>

{% include header_nav %}





<section class="people">

{{content}}



<section class="recruit">
<h1>Join Us</h1>
<p>We are looking for students and partners with an interest in building design tools for the future. Contact us for information. We have several exciting openings in different tracks at My Design Lab. If you are a KAIST student, please contact Daniel Saakes directly with your CV and interests.</p>
<p>저희 연구실은 신생 연구실로, 산업디자인의 미래를 바꾸고 싶은 학생들이라면 누구나 환영합니다. 연구실의 프로젝트는 3D 프린터와 CNC를 이용한 분산식 제조방법에서부터 비전문적 사용자를 위한 CAD 프로그램에 이르는 오픈디자인과, 스마트폰이나 거실의 물건을 맞춤화할 수 있는 증강현실 디자인 도구 개발로 이루어져 있습니다.</p>

</section>



{% include footer %}

</body>
</html>
