<!doctype html>
<html>

<head>
 <meta charset="UTF-8">
<meta name="viewport" content="width=device-width,initial-scale=1">
 <title>{{page.title}}</title>

{% include header_stylesheets %}

</head>

<body>

{% include header_nav %}





<section id="people">
<div class='grid'>
 <div class='unit one-fifth' ><img src='img/daniel.jpg' /></div>
 <div class='unit four-fifths'>

<p><strong>Daniel Saakes</strong> is trained as an industrial design engineer at <a href="http://www.tudelft.nl/">Delft University of Technology</a> and he likes <strong>making things</strong> and making <strong>things that make things</strong>. Recent years he has been active at <a href="http://www.studiolab.nl">ID Studiolab</a>, <a href="http://cameraculture.media.mit.edu/">MIT Medialab</a>, <a href="http://kmd.keio.ac.jp">Keio University</a>, <a href="http://www.designinterface.jp">Japan Science and Technology Agency</a>, <a href="http://www.nae-lab.org">University of Tokyo</a> and <a href="http://www.dh.umu.se">Umea institute of design</a>.<br/>
<a href="http://saakes.net">Personal Home Page</a></p>

 </div>
</div>

<div class="clearfix"/>

<div class='grid'>
 <div class='unit one-fifth'><img src='img/foong-yi.jpg' /></div>
 <div class='unit four-fifths'>

<p><strong>Foong Yi Chia</strong> received her bachelor degree in aerospace engineering and started this year in the graduate school of Industrial Design. Currently she is researching the ecology of distributed fabrication. 
</p>
 </div>
</div>


<div class="clearfix"/>




</section>


<section>

{{content}}

</section>





{% include footer %}

</body>
</html>
