<!doctype html>
<html>

<head>
 <meta charset="UTF-8">
<meta name="viewport" content="width=device-width,initial-scale=1">
 <title>myDesignLab {{page.title}}</title>

{% include header_stylesheets %}

</head>

<body>

{% include header_nav %}

<section class = "people">

{{content}}

</section>

<section class = "join">
	<div name = "join" style = "width = 100%; text-align: center;">
		<h1>Join Us</h1>
		<p style = "margin-left: auto; margin-right: auto;">We are always looking for new students and partners so please <a href="/contact/">contact us</a> for more information.</p>
	</div>
</section>


{% include footer %}

</body>
</html>
