<!doctype html>
<html>

<head>
 <meta charset="UTF-8">
<meta name="viewport" content="width=device-width,initial-scale=1">
 <title>{{page.title}}</title>

{% include header_stylesheets %}

</head>

<body>

{% include header_nav %}


<section>
<h1>{{page.title}}</h1>
<p class="small">{{ page.date | date_to_long_string }}.</p>

<div style = "width: 50%; margin: auto;">
<img src = '/news/img/{{page.picture}}'  style = "width: 100%;" title = '{{page.title}}'/>
</div><br>

{{content}}

</section>

{% include footer %}

</body>
</html>
