<!doctype html>
<html>

<head>
 <meta charset="UTF-8">
<meta name="viewport" content="width=device-width,initial-scale=1">
<title>myDesignLab {{page.title}}</title>

{% include header_stylesheets %}

</head>

<body>

{% include header_nav %}


<section>
<h1 style = "text-align: center;">{{page.title}}</h1>
<div class = "small" style = "text-align: center; margin-right: auto;">{{ page.date | date_to_long_string }}</div><br>

<div style = "max-width: 1024px; margin: auto;">
<img src = '/news/img/{{page.picture}}'  style = "width: 100%;" title = '{{page.title}}'/>
</div><br>

<div style = "margin-left: auto; margin-right: auto; max-width: 1024px;">
	{{content}}
</div>

<form action = "/#load" style = "text-align: center;">
	<input type = "submit" class = "btn btn-primary" value = "Back to Home"></input>
</form>

</section>

{% include footer %}

</body>
</html>
