<!doctype html>
<html>

<head>
 <meta charset="UTF-8">
<meta name="viewport" content="width=device-width,initial-scale=1">
 <title>{{page.title}}</title>

{% include header_stylesheets %}

</head>

<body>

{% include header_nav %}
<section style = "text-align: center;">
	<h1>{{page.title}}</h1>
</section>

<section class = "teaser">
	<img src = 'img/teaser.png' onerror = "this.src = 'img/teaser.jpg'" width = 100%;>
</section>

<section class = "markdown">
<div style = "margin-left: auto; margin-right: auto; max-width: 1024px;">
{{content}}
</div>

<form action = "/projects" style = "text-align: center;">
	<input type = "submit" class = "btn btn-primary" value = "Back to Projects"></input>
</form>

</section>

{% include footer %}

</body>
</html>
