<!doctype html>
<html>

<head>
 <meta charset="UTF-8">
<meta name="viewport" content="width=device-width,initial-scale=1">
 <title>{{page.title}}</title>

{% include header_stylesheets %}

</head>

<body>

{% include header_nav %}

<section class="projects">
<div class="grid no-gutters">
  <div class="unit one-quarter">
   <a href="http://saakes.net/projects/3rd-person"><img src="img/flying_camera.jpg"/></a>
   <p>We designed novel flying cameras that provide teleoperators a 3rd person view on ground robots.</p>
  </div>
  <div class="unit one-quarter">
   <img src="img/shader_printer.jpg"/>
   <p>The Shader Printer is a stateful projector display that uses bi-stable color changing inks.</p>
  </div>
  <div class="unit one-quarter">
   <img src="img/skin.jpg"/>
   <p>Skin makes use of spatial augmented reality and supports "sketching" materials on objects, true-scale.</p>
  </div>
  <div class="unit one-quarter">
   <img src="img/lampan.jpg"/>
   <p>Ikea Hacking as open design.</p>
  </div>
</div> <!-- grid -->
<div class="clearfix"/>
</section> 

<!-- projects -->

<section>

{{content}}

</section>

{% include footer %}

</body>
</html>
