<!doctype html>
<html>

<head>
 <meta charset="UTF-8">
<meta name="viewport" content="width=device-width,initial-scale=1">
 <title>{{page.title}}</title>

{% include header_stylesheets %}

</head>

<body>

{% include header_nav %}

<section class="projects">
<div class="grid no-gutters">
  <div class="unit one-quarter">
   <a href="http://saakes.net/projects/3rd-person"><img src="img/flying_camera.jpg" alt="flying camera" /></a>
   <p>We designed novel flying cameras that provide teleoperators a 3rd person view on ground robots.</p>
  </div>
  <div class="unit one-quarter">
   <a href="http://vimeo.com/42260705"><img src="img/shader_printer.jpg" alt="shader printer" /></a>
   <p>The Shader Printer is a stateful projector display that uses bi-stable color changing inks.</p>
  </div>
  <div class="unit one-quarter">
   <a href="http://www.studiolab.nl/skin"><img src="img/skin.jpg" alt="skin" /></a>
   <p>Skin is an spatial augmented reality application to "sketch" materials on objects.</p>
  </div>
  <div class="unit one-quarter">
   <a href="http://saakes.net/projects/lampan"><img src="img/lampan.jpg" alt="lampan" /></a>
   <p>Ikea Hacking as open design.</p>
  </div>
</div> <!-- grid -->
<div class="clearfix"></div>

<div class="grid no-gutters">
  <div class="unit one-quarter">
   <a href="http://saakes.net/projects/carpet"><img src="img/carpet.jpg" alt="photochromic carpet"/></a>
   <p>We designed indoor shoes that leave playful footprints.</p>
  </div>
  <div class="unit one-quarter">
   <a href="http://saakes.net/projects/paccam"><img src="img/paccam.jpg" alt="paccam" /></a>
   <p>Paccam helps users of laser cutters to make overlap free 2D layouts.</p>
  </div>
  <div class="unit one-quarter">
   <a href="http://www.delftbluebyme.com"><img src="img/delftblue.jpg" alt="delft blue by me" /></a>
   <p>Delft Blue By Me let tourists design their customized Delft Blue pottery.</p>
  </div>
  <div class="unit one-quarter">
   <a href="http://vimeo.com/13505605"><img src="img/slow.jpg" alt="slow display" /></a>
   <p>The Slow Display a novel tradeoff between projection and print.</p>
  </div>
</div> <!-- grid -->
<div class="clearfix"></div>



</section> 

<!-- projects -->

<section>

{{content}}

</section>

{% include footer %}

</body>
</html>
